<div class="row">
  <div class="col-2 component-sidebar">
    <div class="header">
      <input type="text" placeholder="search components">
    </div>
    <div class="components-area">
      <section *ngFor="let cat of sections">
        <div class="header">{{cat}}</div>
        <div class="component-box-area" id="mainComponent" cdkDropList cdkDropListConnectedTo="mainDesigner"
          [cdkDropListData]="getBoxComponentsByCategory(cat)">
          <div *ngFor="let box of getBoxComponentsByCategory(cat)" class="component-box" cdkDrag >
            <i class="{{box.icon}}"></i>
            <span>{{box.title}}</span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div id="mainDesigner" class="col-8 main-designer" cdkDropList [cdkDropListData]="selectedData"  >
    <div *ngFor="let box of selectedData" class="component-box" cdkDrag>
      <i class="{{box.icon}}"></i>
      <span>{{box.title}}</span>
    </div>
  </div>
  <div class="col-2 component-properties">

  </div>
</div>
